body {
    color: #333;
    font: 14px/1.14 "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑";
    background: #F8F8F8;
}
/*header*/
#header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
}
#header .navbar {
    font: 16px/1.5 latoregular, Verdana, sans-serif;
}
.navbar-default{
    background-color: rgba(255, 255, 255, .96);
}
.navbar-collapse.navbar-right {

}
.navbar-default .navbar-collapse{
    border-color: #e7e7e7;
    margin-top: 10px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.navbar{
    border: 0;
    margin: 0;
    z-index: 999;
    padding: 2.5px 0;
}
.navbar-header {
    position: relative;
}
.navbar-brand {
    height: 65px;
    padding: 18px 20px 18px 15px;
    font-size: 40px;
    line-height: 29px;
    font-family: latobold, sans-serif;
}
.navbar-brand.navbar-brand-img img {
    margin-bottom: 8px;
}
#position {
    margin-right: 50px;
}
#position span{
    font-weight: bold;
}
.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.navbar-default.navbar-transparent .navbar-nav > li > a.shanghu {
    background: #e94840;
}
.navbar-default.navbar-transparent .navbar-nav > li > a {
    color: #121212;
}
.navbar-default .navbar-nav > li > a {
    color: #4e4e4e;
    font-weight: bold;
}
/*去除bootstrap的hover样式*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #e94840;
    background: #fff;
}
.collapse.navbar-collapse.navbar-right a:hover {
    transition: color 0.6s linear ;
    color: #e94840;
}
.shanghu-right{
    margin-right:10px;
}
.shanghu-right .shanghu{
    border-radius: 8px;
    color: #fff !important;
}
.navbar-nav > li > a {
    line-height: 11px;
}

#navbar-nav li a {
    outline: none;
}
.nav>li>a {
    padding: 10px 15px;
}

/*service-center*/
.service-center {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
/*h2*/
.h2 {
    line-height: 85px;
    width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: bold;
}
.bright {
    margin: 0 10px;
    font-weight: normal;
}
.h2 > .cnav {
    color: #fb4e55;
    font-weight: bold;
}
/*center-left*/
.centerleft {
    width: 960px;
    float: left;
    margin-bottom: 50px;
}
.ctop {
    height: 220px;
    border: 1px solid #e5e5e5;
    background: #fff;
}
.pic {
    width: 160px;
    height: 160px;
    border: 1px solid #e5e5e5;
    margin: 30px;
    float: left;
}
.spm {
    float: left;
    position: relative;
    top: 25px;
}
.spm span:nth-child(1) {
    font-size: 18px;
    color: #1d1515;
}
.spm span {
    display: block;
    line-height: 42px;
    height: 42px;
}
.spm span b {
    font-size: 20px;
    color: #fc545e;
    margin-left: 10px;
}
.spm span b em {
    font-size: 14px;
    font-style: normal;
}
.spm span b.oldpic {
    font-size: 14px;
    color: #898989;
    margin-left: 40px;
    font-weight: normal;
    display: inline-block;
}
.spm span b.oldpic em {
    text-decoration: line-through;
}
.spm span .youhui {
    /*display: none;*/
    display: inline-block;
    border: 1px solid #fb474f;
    color: #fb474f;
    font-size: 12px;
    padding: 0 6px;
    border-radius: 6px;
    text-align: center;
    font-style: normal;
    margin-left: 10px;
    height: 24px;
    line-height: 24px;
}
.spm span .yishou {
    color: #fb474f;
    margin-left: 10px;
    font-style: normal;
}
.spf {
    float: right;
    margin: 20px 60px 0 0;
}
.spf .qr-code {
    width: 115px;
    height: 115px;
}
.spf b {
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}
.spf b:nth-child(3) {
    color: #fb474f;
}
/*content*/
.cdown {
    clear: both;
    background: #fff;
    padding: 30px 20px;
    border: 1px solid #e5e5e5;
    margin-top: 10px;
}
.cdown b {
    border-bottom: 3px solid #fb474f;
    padding: 5px;
    margin-top: 10px;
    width: 66px;
    display: block;
}
.cdown p {
    line-height: 24px;
    margin: 15px 0 5px;
    font-size: 14px;
}
/*center-right*/
.centerright {
    position: relative;
    margin-left: 10px;
    width: 230px;
    float: right;
}
.rightct {
    width: 230px;
    border: 1px solid #e5e5e5;
    background: #fff;
    text-align: center;
    cursor: pointer;
}
.rightct h3 {
    font-size: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #e5e5e5;
    height: 60px;
    line-height: 60px;
    margin: 0;
    text-align: left;
}
.rightct img {
    width: 80px;
    height: 80px;
    text-align: center;
    margin: 40px 50px 10px 50px;
}
.rightct p {
    text-align: left;
    padding: 0 10px;
    line-height: 36px;
    margin-bottom: 0;
    font-size: 16px;
}
.rightct .rightct-title {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.rightct p span {
    float: right;
    color: #fb474f;
}
.erweima {
    position: relative;
    text-align: center;
    width: 230px;
    height: 290px;
    background: url(../img/daoweiapp.jpg) no-repeat center;
    margin-top: 10px;
}
.erweima img {
    top: 50px;
    left: 53px;
    position: absolute;
    width: 130px;
    height: auto;
}


/*baozhang*/
.baozhang {
    text-align: center;
    width: 100%;
    padding-top: 60px;
    background: #fff;
    clear: both;
}
#baozhang h2 {
    font-size: 28px;
    font-family: "微软雅黑";
    font-weight: 800;
}
#baozhang h2 span {
    color: #fb474f;
}
#baozhang p {
    font-size: 20px;
    color: #3d3838;
    margin: 0;
}

/*servi*/
.servi {
    width: 100%;
    padding-top: 68px;
    background: #fff;
    height: 150px;
    font-family: "微软雅黑";
}
.servi ul {
    width: 850px;
    margin: 0 auto;
}
.servi ul li {
    width: 33%;
    float: left;
    text-align: center;
    color: #1d1515;
    font-size: 18px;
}

.servi ul li img {
    width: 44px;
    height: 44px;
    margin-bottom: 10px;
}
/*footer*/
.footer {
    display: block;
    width: 100%;
    clear: both;
    padding-top: 50px;
    height: 160px;
    background: #fff;
}
.footer dl {
    display: block;
    width: 1200px;
    margin: 0 auto;
}
.footer dl dt {
    float: left;
    font-family: " 微软雅黑";
}

.footer dl dd {
    display: block;
    -webkit-margin-start: 40px;
    margin-left: 40px;
    width: 1100px;
    line-height: 30px;
    float: left;
}
.footer dl dd span {
    font-size: 16px;
    color: #898989;
    display: inline-block;
    width: 9%;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    font-family: "微软雅黑";
}

/*beian*/
.beian {
    width: 100%;
    height: 130px;
    padding-top: 50px;
    text-align: center;
}
.beian p {
    color: #898989;
}