body, ul, li, i {
    list-style: none;
    font-style: normal;
    margin: 0;
    padding: 0;
}
a, a:focus, a:hover {
    text-decoration: none;
}
/*header*/
body {
    color: #333;
    font: 14px/1.14 "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑";
}
.transparent {
    position: fixed;
    z-index: 999;
}
.transparent-translation {
    animation: myfirst 1.5s;
}
@keyframes myfirst {
    0%   {transform-origin: center top; transform: rotateX(-90deg); opacity: 0; }
    100% {transform-origin: center top; transform: rotateX(0); opacity: 1;}
}
#header {
    width: 100%;
    background: #fff;
    opacity: .9;
    border-bottom: 1px solid #e5e5e5;
}
#header .navbar {
    font: 16px/1.5 latoregular, Verdana, sans-serif;
}
.navbar-default{
    background-color: rgba(255, 255, 255, .96);
}
.navbar-collapse.navbar-right {

}
.navbar-default .navbar-collapse{
    border-color: #e7e7e7;
    margin-top: 10px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.navbar{
    border: 0;
    margin: 0;
    z-index: 999;
    padding: 2.5px 0;
}
.navbar-header {
    position: relative;
}
.navbar-brand {
    height: 65px;
    padding: 18px 20px 18px 15px;
    font-size: 40px;
    line-height: 29px;
    font-family: latobold, sans-serif;
}
.navbar-brand.navbar-brand-img img {
    margin-bottom: 8px;
}
#position {
    margin-right: 50px;
}
#position span{
    font-weight: bold;
}
.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.navbar-default.navbar-transparent .navbar-nav > li > a.shanghu {
    background: #e94840;
}
.navbar-default.navbar-transparent .navbar-nav > li > a {
    color: #121212;
}
.navbar-default .navbar-nav > li > a {
    color: #4e4e4e;
    font-weight: bold;
}
/*去除bootstrap的hover样式*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #e94840;
    background: #fff;
}
.collapse.navbar-collapse.navbar-right a:hover {
    transition: color 0.6s linear ;
    color: #e94840;
}
.shanghu-right{
    margin-right:10px;
}
.shanghu-right .shanghu{
    border-radius: 8px;
    color: #fff !important;
}
.navbar-nav > li > a {
    line-height: 11px;
}

#navbar-nav li a {
    outline: none;
}
.nav>li>a {
    padding: 10px 15px;
}

/*banner*/




.carousel {
    top: 70px;
}
.full_banner {
    width: 100%;
    position: relative;
    height: 420px;
    background: #FFF;
    overflow: hidden;
}
.bd-ul{
    position: relative;
    width: 100%;
    height: 420px;
}
.bd .bd-ul .bd1{
    background: url("../img/carousel-2.jpg") center no-repeat;
}
.bd .bd-ul .bd2{
    opacity: 0;
    background: url("../img/carousel-1.jpg") center no-repeat;
    transition: opacity .5s linear;
}
.bd .bd-ul .bd3{
    opacity: 0;
    background: url("../img/carousel-3.jpg") center no-repeat;
    transition: opacity .5s linear;
}
.bd .bd-ul .togglebd {
    opacity: 1;
    transition: opacity .5s linear;
}
.bd .bd-ul .bd1,.bd2,.bd3{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    display: list-item;
}
.full_banner .bd li {
    width: 100% !important;
    float: left;
    height: 420px;
    overflow: hidden;
}
/*小球*/
.full_banner .hd {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.full_banner .hd ul {
    text-align: center;
    padding-top: 5px;
}
.full_banner .hd ul li {
    /*cursor 属性规定要显示的光标的类型（形状）。*/
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    width: 10px;
    height: 10px;
    margin: 5px;
    /*line-height: 9999px;*/
    background-color: rgba(0,0,0,0.2);
    border-radius: 100%;
}
.full_banner .hd ul .on {
    background-position: 0 0;
    background-color: rgba(255,255,255,1);
    border-radius: 100%;
}

/*二级菜单*/
.banner-nav {
    width: 200px;
    position: relative;
    bottom: 422px;
    margin: 0 auto;
    z-index: 998;
}
.banner-nav-div {
    width: 180px;
    position: absolute;
    left: -470px;
}
.banner-nav ul {
    width: 180px;
    background: #757881;
    height: 420px;
    margin-top: 2px;
}
.navname>a {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.banner-nav ul li span {
    display: inline-block;
    width: 70px;
    text-align: justify;
    text-align-last: justify;
    font-weight: bold;
}
.banner-nav ul li img {
    position: absolute;
    right: 35px;
    top: 20px;
    vertical-align: middle;
}
.banner-nav ul li .act {
    position: absolute;
    top: 20px;
    right: 0;
}
.banner-nav ul ul {
    position: absolute;
    left: 180px;
    top: 0;
    background: rgba(255, 255, 255, 0.7);
    width: 160px;
    margin-top: 0;
}
.banner-nav ul li {
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-size: 16px;
    position: relative;
    cursor: pointer;
    padding-left: 45px;
}
.banner-nav .navname li a {
    color: #121212;
    font-weight: bold;
}
a, a:focus, a:hover {
    text-decoration: none;
}


/*动态生成*/
.navname-ul-2 {
    top: -42px;
}

/*content*/
.content-container {
    position: relative;
    top: 70px;
}
.box1:nth-child(odd) {
    background: #fff;
}
.box1:nth-child(even) {
    background: #FBF8F8;
}
.box1 {
    height: 560px;
    width: 100%;
}
.fff {
    width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    clear: both;
}
.navigation {
    text-align: center;
}
.navigation span.serviceIndex {
    color: #3d3838;
    font-weight: 800;
    font-size: 28px;
    font-family: "Microsoft YaHei";
}
.navigation span {
    display: block;
}
.serviceType {
    font-size: 22px;
    color: #3d3838;
    margin-top: 15px;
}
.tagsListHeader {
    text-align: right;
}
.lookMore {
    position: relative;
    bottom: 10px;
}
.lookMore a {
    color: #898989;
    font-size: 18px;
    font-family: "幼圆";
}
.row {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}
.form-group {
    position: relative;
    margin-bottom: 0;
}
.ServiceBorder {
    float: left;
    padding: 10px;
    width: 230px;
    border: 1px solid #eaeaea;
    margin: 0 5px;
    background: #fff;
    cursor: pointer;
    height: 345px;
}
.ServiceBorder:hover {
    box-shadow: 5px 5px 15px #ccc;
}
.ServiceBorder .serviceImg {
    width: 210px;
    height: 210px;
}
.shopList .serviceName {
    font-size: 16px;
    padding: 10px 0;
    font-weight: 800;
    color: #000;
    height: 28px;
    overflow: hidden;
    width: 101%;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.shopList .description {
    color: #929292;
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size: 13px;
    line-height: 18px;
    height: 58px;
}
.shopList .price {
    font-size: 14px;
    padding: 5px 5px;
    font-weight: 600;
    height: 20px;
    line-height: 20px;
    color: #fb474f;
}
.btn {
    float: right;
    padding: 0;
    width: 76px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    background: #fb474f;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}



/*baozhang*/
.baozhang {
    text-align: center;
    width: 100%;
    padding-top: 60px;
    background: #fff;
    clear: both;
}
#baozhang h2 {
    font-size: 28px;
    font-family: "微软雅黑";
    font-weight: 800;
}
#baozhang h2 i {
    color: #fb474f;
}
#baozhang p {
    font-size: 20px;
    color: #3d3838;
    margin: 0;
}

/*servi*/
.servi {
    width: 100%;
    padding-top: 68px;
    background: #fff;
    height: 150px;
    font-family: "微软雅黑";
}
.servi ul {
    width: 850px;
    margin: 0 auto;
}
.servi ul li {
    width: 33%;
    float: left;
    text-align: center;
    color: #1d1515;
    font-size: 18px;
}

.servi ul li img {
    width: 44px;
    height: 44px;
    margin-bottom: 10px;
}
/*footer*/
.footer {
    display: block;
    width: 100%;
    clear: both;
    padding-top: 50px;
    height: 160px;
    background: #fff;
}
.footer dl {
    display: block;
    width: 1200px;
    margin: 0 auto;
}
.footer dl dt {
    float: left;
    font-family: " 微软雅黑";
}

.footer dl dd {
    display: block;
    -webkit-margin-start: 40px;
    margin-left: 40px;
    width: 1100px;
    line-height: 30px;
    float: left;
}
.footer dl dd span {
    font-size: 16px;
    color: #898989;
    display: inline-block;
    width: 9%;
    text-align: center;
    font-weight: 200;
    cursor: pointer;
    font-family: "微软雅黑";
}

/*beian*/
.beian {
    width: 100%;
    height: 130px;
    padding-top: 50px;
    text-align: center;
}
.beian p {
    color: #898989;
}


