<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../css/reset.css">
  <link href="../css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/login.css">
  <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="../js/login.js"></script>
</head>
<body>
  <div>
    <div class="container">

      <!--登陆-->
      <div class="login" style="display: block">
        <div class="content">
          <h2></h2>

          <!--登陆号码-->
          <div class="input-group">
            <span class="input-group-addon icon-1">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </span>
            <input class="form-control" id="username" type="text" ng-model="name" placeholder="输入昵称或手机号" >
          </div>

          <!--登陆密码-->
          <form class="input2" name="forms">
            <span id="box">
              <div class="input-group">
                <span class="input-group-addon icon-2">
                  <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input class="form-control" id="password1" type="password" placeholder="输入密码">
              </div>
            </span>
          </form>
        </div>

        <!--错误提醒-->
        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="loginError" style="display: none;">
          <button type="button" class="close" ng-click="cleanErrorMsg()">
            <span aria-hidden="true">×</span>
          </button>
          请输入您的昵称或手机号
        </div>

        <!--底部按钮-->
        <div class="login_login">
          <button class="btn btn-primary btn-lg btn-block">登录</button>
        </div>
        <div style="padding: 20px;">
          <a class="pull-left" href="#/forgetpwd">忘记密码</a>
          <a class="pull-right" href="#/regist">注册</a>
        </div>
      </div>

      <!--注册页面-->
      <div class="regist" style="display: none">
        <div class="content">
          <h2></h2>
          <div class="control-group">
            <div class="input">
              <input class="form-control" maxlength="11" type="text" placeholder="请输入手机号">
              <div class="input-group">
                <img style="height:50px;width: 100%;border: 1px solid #ccc;"  src="../img/code.jpg">
                <input type="text" class="form-control" maxlength="4" placeholder="请输入图片中的字符串">
                <!--获取验证码按钮-->
                <span class="input-group-addon" style="cursor:pointer">获取验证码</span>
                <span class="input-group-addon" style="display: none">重新发送60</span>
              </div>
              <input type="text" style="margin: 10px 0;" class="form-control" maxlength="4" placeholder="请输入验证码" onkeyup="value=value.replace(/\D/g,'')">
              <input class="form-control" type="password" id="password" placeholder="请输入密码">
            </div>
          </div>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="vehicle" value="Car">
            <a href="partials/reg.html" target="_Blank">您确认并同意到位用户协议</a>
          </label>
        </div>
        <br>
        <div role="alert">
          <button type="button" class="close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <!--注册按钮-->
        <div class="login-login">
          <button class="btn btn-primary btn-lg btn-block">注册</button>
        </div>
        <div style="padding: 20px;">
          <a class="tolog" style="margin-left: 80px" href="#/login">已有账户？登录</a>
        </div>
      </div>

      <!--重置密码-->
      <div class="forgetPwd" style="display: none">
        <div class="content">
          <h2></h2>
          <div class="control-group">
            <div class="input">
              <input class="form-control" maxlength="11" type="text" placeholder="请输入手机号" onkeyup="value=value.replace(/\D/g,'')">
              <div class="input-group">
                <input type="text" class="form-control" maxlength="4" ng-model="verify" placeholder="请输入验证码" onkeyup="value=value.replace(/\D/g,'')">
                <!--获取验证码-->
                <span class="input-group-addon">获取验证码</span>
                <span class="input-group-addon" style="display: none">重新发送60</span>
              </div>
              <input class="form-control" type="password" placeholder="请输入新密码">
            </div>
          </div>
        </div>
        <br>
        <div role="alert">
          <button type="button" class="close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="zhuce">
          <button class="btn btn-primary btn-lg btn-block">确认重置</button>
        </div>
        <div style="padding: 20px;">
          <a class="back" style="margin-left: 160px" href="#/login">返回</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>